@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
$font-stack: Anton, sans-serif;
$white: #ffffff;
$primary-color: #101828;
$secondary-color: #667085;
$highlight-color: #8E2424;
$selection-color: #E22859;
$chosen-map: #1EB720;